<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web05_KimYeonhee</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>servlet.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.main.MainServlet</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>c:\\filestore\\userinfo\\member.txt</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MS2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRegister</display-name>
    <servlet-name>BookRegister</servlet-name>
    <servlet-class>servlet.book.BookRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRegister</servlet-name>
    <url-pattern>/BR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllBook</display-name>
    <servlet-name>ShowAllBook</servlet-name>
    <servlet-class>servlet.book.ShowAllBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllBook</servlet-name>
    <url-pattern>/SA</url-pattern>
  </servlet-mapping>
</web-app>